.app {
  padding: 2rem 15rem;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  body {

    .desc {
      margin-bottom: 2rem;
      color: rgb(153, 153, 153);
    }

    display: flex;
    justify-content: center;
    flex-direction: column;

    .submit-btn-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .submit-btn {
        float: right;
        margin-bottom: 20px;
      }
    }
  }
}